body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
}

/* Cabeçalho com imagem de fundo */
header {
    background: url('img/thumb-1920-399647.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}

/* Botão de Acessibilidade */
.acessibilidade {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.acessibilidade-opcoes {
    display: none;
    flex-direction: column;
    margin-top: 5px;
}

.acessibilidade:hover .acessibilidade-opcoes {
    display: flex;
}

/* Alto Contraste */
.alto-contraste {
    background-color: #000;
    color: #fff;
}

.alto-contraste a {
    color: #2e0098;
}

/* Ajuste de Fontes */
.fonte-grande {
    font-size: 20px;
}

.fonte-pequena {
    font-size: 14px;
}

}

